[submodule "lib/flutter_library"]
	path = lib/flutter_library
	url = https://github.com/thruthesky/flutter_library
[submodule "lib/flutter_i18n"]
	path = lib/flutter_i18n
	url = https://github.com/thruthesky/flutter_i18n
[submodule "lib/flutter_test"]
	path = lib/flutter_test
	url = https://github.com/thruthesky/flutter_test
[submodule "lib/flutterbase_v2"]
	path = lib/flutterbase_v2
	url = https://github.com/thruthesky/flutterbase_v2
