<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>593030267816-s5ngkvj3ko8j5p19qft81d6lesap22bj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.593030267816-s5ngkvj3ko8j5p19qft81d6lesap22bj</string>
	<key>API_KEY</key>
	<string>AIzaSyDgjQppab_Q1LWzdNWDFPBIzIE0NO4o6HE</string>
	<key>GCM_SENDER_ID</key>
	<string>593030267816</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sonub.flutterpress</string>
	<key>PROJECT_ID</key>
	<string>flutterpress-test</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterpress-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:593030267816:ios:b065e8291395da5953939d</string>
	<key>DATABASE_URL</key>
	<string>https://flutterpress-test.firebaseio.com</string>
</dict>
</plist>